doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title= 'Сервисы'
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.min.css')
    body
        .tpl__container
            .tpl__container__inner
                header
                main.tpl__content
                    .services-wr
                        .section.service-1
                            .service-bg
                                .service-bg-inwr
                            .wr-cont-service
                                h1.brasil(data-text="WD&SS") WD&SS
                                h3 Кто мы?
                                p Web Design & Software Solution – это международное инновационное маркетинговое агентство с head-office в Киеве, которое специализируются на разработке и программировании Интернет-технологий, построении систем интегрированных маркетинговых коммуникаций, цифровой дистрибуции производителей и импортеров брендов на экспортных рынках.
                                p Не важно, откуда Вы – мы разработаем для Вас сайты и приложения на любом языке!Нам известны любые рынки – наши офисы находятся в Украине, США, Польще, Австрии и Бахрейне.

                        .section.service-2
                            .service-bg
                                .service-bg-inwr
                            .wr-cont-service
                                h2 Как мы работаем?
                                ul.left-list-service
                                    li.item-servicr_list
                                        .content-item_service   Создание профессионального стратегического
                                                        | и конкурентного анализа рынка
                                    li.item-servicr_list
                                        .content-item_service   Разработка уникального решения
                                                        | для выделения компании среди конкурентов
                                    li.item-servicr_list
                                        .content-item_service   Разработка структуры и дизайна
                                                        | ключевых страниц нового сайта клиента
                                        .top_cont   До договора о сотрудничестве
                                        .bottom_cont  После договора о сотрудничестве
                                    li.item-servicr_list
                                        .content-item_service   Разработка сайтов и приложений
                                                        | любой сложности с уникальным контентом
                                                        |на любом языке для всех платформ

                        .section.service-3
                            .service-bg
                                .service-bg-inwr
                            .wr-cont-service
                                h2 Тут другой заголовок
                                nav.tabs-panel_service
                                    ul.tab-menu
                                        li.tabs-items.active   Интеграция сайта

                                        li.tabs-items Продвижение

                                        li.tabs-items Тех поддержка

                                .wr-tab_content
                                    .tab-content-service.active
                                        ul.left-list-service
                                            li.item-menu-service Создание Универсальной Системы Управления Содержимым (CMS)
                                            li.item-menu-service Интеграция CRM с сайтом
                                            li.item-menu-service Размещение сайта на хостинге
                                            li.item-menu-service Подключение доменного имени
                                            li.item-menu-service Оптимизация веб-сервера и сайта согласно требованиям Google Page Speed
                                            li.item-menu-service Настройка почты
                                            li.item-menu-service Внутренняя СЕО-оптимизация сайта

                                    .tab-content-service
                                        ul.left-list-service
                                            li.item-menu-service Создание Универсальной Системы Управления Содержимым (CMS)
                                            li.item-menu-service Интеграция CRM с сайтом
                                            li.item-menu-service Размещение сайта на хостинге
                                            li.item-menu-service Подключение доменного имени

                                    .tab-content-service
                                        ul.left-list-service
                                            li.item-menu-service Размещение сайта на хостинге
                                            li.item-menu-service Подключение доменного имени
                                            li.item-menu-service Оптимизация веб-сервера и сайта согласно требованиям Google Page Speed
                                            li.item-menu-service Настройка почты


                        .section.service-4
                            .service-bg
                                .service-bg-inwr
                            .wr-cont-service
                                h2 Цифровая дистрибуция
                                p.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                        .section.service-5
                            .service-bg
                                .service-bg-inwr
                            .wr-cont-service
                                h2 Также
                                ul.menu-service_5
                                    li.item-menu-service Маркетинг
                                    li.item-menu-service PR
                                    li.item-menu-service
                                        .content-item_service
                                            p Уникальный контент
                                            p (текстовый и мультимедийный)



.down-pointer
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='js/app.min.js')
